.Contact {
  display: flex;
  flex-direction: column;
  padding: var(--spaces-xhuge) var(--spaces-xhuge);
  padding-top: 0;
  padding-bottom: var(--spaces-large);
}
.contact-info {
  width: 100%;
  display: flex;
}
.contact-title {
  color: var(--color-primary);
  font-family: "Inika", serif;
  font-size: var(--sizes-xlarge);
  margin: 0 auto;
  margin-bottom: var(--spaces-xxlarge);
  border-bottom: 5px solid var(--color-primary);
}
.address-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: start;
}
.contact-info h1 {
  color: var(--color-primary);
  font-size: var(--sizes-xlarge);
  margin-bottom: var(--spaces-large);
}
.contact-info p {
  color: var(--color-tertiary);
  font-size: var(--sizes-medium);
  margin-bottom: var(--spaces-small);
}
.contact-info i{
    color: var(--color-primary);
}
.contact-section {
  width: 50%;
  text-align: center;
}
.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-form input {
  width: 80%;
  height: var(--sizes-xlarge);
  margin-bottom: var(--spaces-small);
  padding: var(--spaces-medium);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}
.contact-form input:nth-child(3){
    height: 10rem;
}
.contact-form button {
  width: 80%;
  height: var(--sizes-xxlarge);
  font-size: var(--sizes-small);
  background: var(--color-primary);
  border: none;
  color: white;
  font-family: "Inika", serif;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 780px){
    .Contact {
        padding: var(--spaces-large) var(--spaces-large);
      }
    .contact-info {
        flex-direction: column;
    }
    .address-section{
        display: none;
    }
    .contact-section{
        width: 100%;
    }
}
