                                                                            /* Header Styles */
.Header{
    background-color: var(--color-tertiary);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar{
    display: block;
height: var(--sizes-xxxlarge);
max-width: 80rem;
margin: auto;
}
.navLinks{
display: flex;
height: 100%;
justify-content: space-between;
list-style: none;
}
.Links{
    font-size: var(--sizes-medium);
    padding: var(--spaces-medium);
    font-family: 'Inika', serif;
    color: white;
    cursor: pointer;
    transition: 200ms;
}
.Links:hover{
    transform: scale(1.2);
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.hamburgerIcon{
    display: none;
    height: var(--sizes-xxxlarge);
    position: absolute;
    right: var(--sizes-small);
}
.hamburgerIcon i{
    color: white;
    font-size: var(--sizes-xlarge);
}
                                                                            /* Media Qurries */


/* mobile View */
@media screen and (max-width:480px){
    .navbar{
        height: var(--sizes-xxlarge);
    }
    .navLinks{
        display: none;
    }
    .hamburgerIcon{
        display: flex;
        align-items: center;
        height: var(--sizes-xxlarge);
    }
}
@media screen and (min-width:480px) and (max-width:780px){
    .navLinks{
        display: none;
    }
    .hamburgerIcon{
        display: flex;
        align-items: center;
    }
}
