.Projects {
  display: flex;
  flex-direction: column;
  padding: var(--spaces-xhuge) var(--spaces-xhuge);
  padding-top: 0;
}
.project-images:nth-child(odd) {
justify-content: flex-start;
}
.project-title {
  color: var(--color-primary);
  font-family: "Inika", serif;
  font-size: var(--sizes-xlarge);
  margin: 0 auto;
  margin-bottom: var(--spaces-xxlarge);
}
.project {
  display: flex;
  margin-top: var(--spaces-xxlarge);
}
.project-discription {
  /* align-items: center; */
  width: 40%;
  min-height: 20rem;
}
.project-name {
  color: var(--color-primary);
  font-family: "Inika", serif;
  font-size: var(--sizes-large);
  margin-bottom: var(--spaces-xlarge);
}
.project-info,
.project-info li {
  font-size: var(--sizes-medium);
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-bottom: var(--spaces-small);
}
.project-info li {
  margin-left: var(--spaces-large);
}
.project-images {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Media Querries */

@media screen and (min-width: 780px) and (max-width: 1280px) {
  .Projects {
    padding: var(--spaces-xxxlarge) var(--spaces-xxxlarge);
  }
  .project-discription {
    margin-top: var(--spaces-large);
  }
  .project-images img {
    width: 80%;
    height: 80%;
  }
  .project-name {
    font-size: var(--sizes-medium);
  }
  .project-name{
      font-size: var(--sizes-large);
  }
  .project-info,
  .project-info li {
    font-size: var(--sizes-small);
  }
}
@media screen and (max-width: 780px) {
  .Projects {
    padding: var(--spaces-large) var(--spaces-large);
  }
  .project {
    flex-direction: column-reverse;
  }
  .project-images:nth-child(odd){
    justify-content: center;
  }
  .project:nth-child(odd){
    flex-direction: column;
  }
  .project-discription {
    margin-top: var(--spaces-large);
    width: 100%;
  }
  .project-images {
    width: 100%;
    justify-content: center;
  }
  .project-images img {
    width: 70%;
    height: 70%;
  }
  .project-name{
      font-size: var(--sizes-medium);
  }
  .project-info,
  .project-info li {
    font-size: var(--sizes-small);
  }
}
